<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vilife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/trabajo_final_grupo_verde.styles.css" asp-append-version="true" />   
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
</head>
<style>
  /* CSS */
.navbar-nav {
    flex-grow: 0; /* Evita que el menú de navegación crezca */
    flex-shrink: 0; /* Evita que el menú de navegación se encoja */
}

.nav-link {
    position: static; /* Asegura que los enlaces permanezcan estáticos */
}

</style>
<body>
  <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color: #000000; font-weight: 700;">
        <div class="container-fluid d-flex justify-content-between">
            <!-- Logo -->
            <div class="navbar-brand d-flex align-items-center">
                <img src="/images/logo-removebg-preview.png" alt="Logo" width="44" height="35">
                <a asp-area="" asp-controller="Home" asp-action="Index" style="color: white; margin-left: 10px;">Vilife</a>
            </div>
            <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar .collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>


            <!-- Navegación -->
            <div class="collapse navbar-collapse  d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: white;">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Catalogo" asp-action="Index" style="color: white;">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="PreguntasFrecuentes" style="color: white;">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TipoCambio" asp-action="Index" style="color: white;">Tipo de cambio</a>
                    </li>
                </ul>
            </div>
            
            <!-- Formulario de búsqueda y carrito -->
            <div class="d-flex align-items-center">
                <!-- Formulario de búsqueda -->
                
                


                <!-- Incluir _LoginPartial -->
            </div>
            <partial name="_MenuAdminPartial" />
            <partial name="_LoginPartial" />

        </div>
    </nav>
</header>

    











    <div class="container" style="min-height: 100vh;">
        <main role="main" style="min-height: 100vh;">
            @RenderBody()
        </main>
    </div>


    <footer class="text-center text-lg-start  pt-4" style="border-color: black;background-color: black; margin-botton: 0px;color:white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-lg-0">
          <h5 class="text-uppercase mb-4">Enlaces</h5>

          <ul class="list-unstyled mb-4" style="text-align: left;">
            <li>
              <a href="/" class="text-white">Inicio</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sobre nosotros</a>
            </li>
            <li>
              <a href="/Home/Privacy" class="text-white">Privacidad</a>
            </li>
            <li>
              <a href="/Catalogo" class="text-white">Catálogo</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Contactenos</h5>

          <ul class="list-unstyled">
            <li>
              <a style="color: white;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacto">Ir a contacto</a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase mb-4">Programadores</h5>

          <ul class="list-unstyled mb-4" style="text-align: left;">
            <li>
              <a href="https://github.com/LucasEspLau" class="text-white">Lucas Adrian Espinoza Laurente</a>
            </li>
            <li>
              <a href="https://github.com/ALP300" class="text-white">Aitor Leonardo Palomino</a>
            </li>
            <li>
              <a href="https://github.com/KatherineHV06" class="text-white">Katherine Hernandez Valencia</a>
            </li>
            <li>
              <a href="https://github.com/Masfloro" class="text-white">Carlos Marcel Nuñez Quispe</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <h5 class="text-uppercase mb-4">Redes Sociales</h5>
    <ul class="mb-4" style="display: flex; justify-content: center; gap: 10px; color:white">
        <li style="width: 17px;height: 17px;color: white;">
            <a href="https://www.facebook.com/profile.php?id=61558654600349&mibextid=LQQJ4d"  style="width: 17px;height: 17px;color: white;">
                <i class="fab fa-facebook"  style="width: 17px;height: 17px;color: white;"></i>
            </a>
        </li>
       
        <li style="width: 17px;height: 17px;color:white">
            <a href="https://www.instagram.com/vilife_2024?igsh=MTU5cTdheGlseGVucw%3D%3D&utm_source=qr"  style="width: 17px;height: 17px;color: white;">
                <i class="fab fa-instagram"  style="width: 17px;height: 17px;color: white;"></i>
            </a>
        </li>
    </ul>
</div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 border-top border-white">
      © 2024 Copyright
      
    </div>
    <!-- Copyright -->
  </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
