<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vilife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/trabajo_final_grupo_verde.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vilife</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cliente"
                                asp-action="Index">Registro</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-32892 pb-0 p-4">
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md pr-md-5 mb-4 mb-md-0">
                        <h3>Acerca de nosotros</h3>
                        <h3><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacto">Contactenos</a></h3>
                        <ul class="list-unstyled quick-info mb-4">
                            <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span>
                                    +51 950 319 123</a></li>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md mb-4 mb-md-0">
                        <h3>PROGRAMADORES</h3>
                        <ul class="list-unstyled tweets">
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div class="nombre-programadores">NUÑEZ QUISPE CARLOS MARCEL</div>
                            </li>
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div class="nombre-programadores">AITOR LEONARDO PALOMINO QUINTERO</div>
                            </li>
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div class="nombre-programadores">KATHERINE MILAGROS HERNANDEZ VALENCIA</div>
                            </li>
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div class="nombre-programadores">LUCAS ADIRAN ESPINOZA LAURENTE</div>
                            </li>
                        </ul>
                    </div>


                    <div class="col-md-3 mb-4 mb-md-0">
                        <h3>INSTAGRAM</h3>
                        <div class="row gallery">
                            <div class="col-6">
                                <a href="#"><img src="~/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-6">
                                <a href="#"><img src="~/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>

                    <div></div><br>

                </div>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
