@model trabajo_final_grupo_verde.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/index.css" />

<style>
    /* Estilo personalizado para el color del cuadro */
    .card {
        background-color: #750D37; /* Color de fondo personalizado */
        color: white; /* Color del texto */
    }
</style>

<div class="container mt-5">
    <h1 class="text-center" style="color: black;">Detalles del Producto</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Información del Producto</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-3">Precio:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Precio)</dd>

                <dt class="col-sm-3">URL de la Imagen:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ImagenURL)</dd>

                <dt class="col-sm-3">Descripción:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
            </dl>
            
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-block">Editar</a>
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block">Volver al Listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
