@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/css/index.css" />

@if (TempData["MessageLOGUEARSE"] != null)
{
    <div class="alerta">
        @TempData["MessageLOGUEARSE"]
    </div>
}
<style>
    body{
        flex-direction: column
        ;
    }
</style>

<body style="min-height: 100vh;display:flex;">
    
     <section class="content libre">
    <h2 class="title1">
        BIENVENIDO AL PROYECTO<br>
        <span class="indented">DEL GRUPO VERDE</span>
    </h2>
</section>

        
        <div  class="general1">
            
            <h2 class="title">Misión</h2>
            
            <section class="content mision">
                <p class="p">En Vilife, nos dedicamos a crear experiencias memorables a través 
                    de la pasión por el vino. Nos comprometemos a ofrecer vinos de la más alta calidad,
                    elaborados con cuidado y dedicación, utilizando métodos tradicionales y técnicas innovadoras.
                    Buscamos deleitar a nuestros clientes con cada sorbo, promoviendo la cultura del vino y celebrando
                    la vida en todas sus facetas.
                </p>
            </section>

        </div>

        <div class="general2">
        
            <h2 class="title">Visión</h2>
        
            <section class="content vision">
                <p class="p">Nos esforzamos por ser reconocidos como líderes en la industria del vino, 
                    tanto a nivel local como internacional. En Vilife, aspiramos a ser la opción preferida 
                    de los amantes del vino, destacando por nuestra excelencia en la calidad, la diversidad 
                    de nuestra oferta y el compromiso con la sostenibilidad.
                </p>
            </section>
        </div>
    </div>

</body>