@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/css/index.css" />
<!-- Incluir la fuente Lora desde Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">


@if (TempData["MessageLOGUEARSE"] != null)
{
    <div class="alerta">
        @TempData["MessageLOGUEARSE"]
    </div>
}

<style>
        
</style>

<body>
    

   


    
    <div  class="general1">
        
        <h2 class="title">Misión</h2>
        
    <section class="content mision">
        
        <p class="p">Buscamos convertirnos en un producto de consumo a nivel nacional al ofrecer
            una cerveza artesanal que cumple con los más altos estándares de calidad.
            Nos destacamos por nuestro excepcional sabor y aroma, y, sobre todo, por ser un
            producto respetuoso con el medio ambiente como parte de nuestro compromiso con la
            responsabilidad social. Aspiramos a ser la cerveza preferida para acompañar comidas
            y disfrutar de momentos placenteros.
        </p>
    </section>
    </div>

<div class="general2">
   
    <h2 class="title">Visión</h2>
   
    <section class="content vision">
        <p class="p">Nuestro objetivo como empresa es convertirnos en la marca líder en el mercado
            nacional de la cerveza artesanal. Trabajamos constantemente en la innovación de sabores
            y aromas para ofrecer nuestros productos a la comunidad cervecera.
        </p>
    </section>
    </div>
</body>